# Godot 4+ specific ignores
.godot/
logs.lnk
.vs/
.vscode/
.deleted/
.idea/
exports/
example/
ptt.json
*.sln.DotSettings
*.sln.DotSettings.user
script_templates/
*.mkv
*.clip
.docs/
dev/asset/whip.kra
imgui.ini
logs
project_time_traker.json
